body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("./img/bg-desert.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
}

@font-face {
  font-family: BaksoSapi;
  src: url("./fonts/BaksoSapi.woff");
}

.d-none {
  display: none;
}

h1 {
  color: white;
  font-family: BaksoSapi, Helvetica, sans-serif;
  margin-top: -64px;
  font-size: 8vw;
}

.canvas-all {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.canvas-out {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  border: 3px solid rgba(255, 255, 255, 0.94);
  border-radius: 16px;
}

canvas {
  display: block;
  /* width: 100%; */
  border-radius: 12px;
}

.controlls {
  position: absolute;
  transform: translate(-50%, -50%);
  max-width: 50px;
  padding: 8px;
}

.left-arrow {
  width: 6vw;
  top: 91%;
  left: 6%;
}

.right-arrow {
  width: 6vw;
  top: 91%;
  left: 14%;
}

.jump {
  width: 6.9vw;
  top: 91%;
  left: 89%;
}

.fire {
  width: 5vw;
  top: 84%;
  left: 94%;
}

.mute {
  width: 2.7vw;
  top: 4%;
  left: 98%;
  max-width: 28px;
}

.filter-toggle {
  filter: opacity(0.8);
}
