body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("./img/bg-desert.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  font-family: BaksoSapi, Helvetica, sans-serif;
  color: white;
}

@font-face {
  font-family: BaksoSapi;
  src: url("./fonts/BaksoSapi.woff");
}

.d-none {
  display: none;
}

h1 {
  margin-top: -64px;
  font-size: 8vw;
  margin-bottom: 0px !important;
}

.canvas-all {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.canvas-out {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  border: 3px solid rgba(255, 255, 255, 0.94);
  border-radius: 16px;
}

canvas {
  display: block;
  width: 100%;
  border-radius: 12px;
}

.controlls {
  position: absolute;
  transform: translate(-50%, -50%);
  max-width: 50px;
  padding: 8px;
}

.left-arrow {
  width: 6vw;
  top: 91%;
  left: 6%;
}

.right-arrow {
  width: 6vw;
  top: 91%;
  left: 14%;
}

.jump {
  width: 6.9vw;
  top: 91%;
  left: 89%;
}

.fire {
  width: 5vw;
  top: 84%;
  left: 94%;
}

.mute {
  width: 3.7vw;
  bottom: -4%;
  left: 50%;
  max-width: 24px;
  right: 50%;
}

.filter-toggle {
  filter: opacity(0.8);
}

.moving-keys {
  display: flex;
  justify-content: space-between;
  width: 720px;
  margin-top: 4px;
}

.left-right {
  margin-left: 8px;
}
.jump-shoot {
  margin-right: 8px;
}

.color-key {
  font-size: 1.4em;
  color: #70bfd9;
}
