body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("./img/bg-desert.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  height: 100vh;
}

.d-none {
  display: none;
}

h1 {
  color: white;
  font-family: BaksoSapi, Helvetica, sans-serif;
  font-size: 60px;
  margin-bottom: -32px;
}

.canvas-all {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
}

.canvas-out {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  border: 3px solid rgba(255, 255, 255, 0.94);
  border-radius: 16px;
}

#canvas {
  width: 100%;
  border-radius: 12px;
}

.controlls {
  position: absolute;
  transform: translate(-50%, -50%);
}

.left {
  width: 6vw;
  top: 91%;
  left: 6%;
}

.right {
  width: 6vw;
  top: 91%;
  left: 14%;
}

.jump {
  width: 6.9vw;
  top: 91%;
  left: 89%;
}

.fire {
  width: 5vw;
  top: 84%;
  left: 94%;
}

.mute {
  width: 2.7vw;
  top: 4%;
  left: 98%;
}
